/***************/
/* MEYER RESET */
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**************/
/* BASE RULES */
/**************/
html {
  font-size: 100%;
}

body {
  background: #fff;
  font: 18px/1.4 Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}
@media screen and (max-width: 640px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  line-height: 1.1;
}
h1 a {
  color: inherit;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: #4183C4;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active {
  color: #4183C4;
  text-decoration: none;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.gmnoprint img {
  max-width: none;
}

.date {
    font-style: italic;
    color: #666;
    font-size: 13px;

}
::-moz-selection {
  color: #000;
  background: #eee;
}

::selection {
  color: #000;
  background: #eee;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
.wrapper-masthead {
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
}

.masthead {
  padding: 20px 0;

}
@media screen and (max-width: 640px) {
  .masthead {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  display: none;
}

.site-avatar img {
  border-radius: 5px;
}

.site-info {
  float: left;
}
@media screen and (max-width: 640px) {
  .site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #333;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #666;
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  .site-description {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 640px) {
  nav {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
}
nav a {
  margin-left: 20px;
  color: #333;
  text-align: right;
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 640px) {
  nav a {
    margin: 0 10px;
    color: #4183C4;
  }
}

.posts > .post {
  padding-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
}

.post blockquote {
    padding: 15px 15px;
    margin: 0 0 20px 0;
    border-left: 4px solid #fcc118;
    background: #f7f7f7;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 7px;
}
.post .comments {
  margin-top: 10px;
}
.post .read-more {
  text-transform: uppercase;
  font-size: 15px;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

footer {
    padding: 20px 0 0;
    text-align: center;
}
.pre-foot {  background-color: #e9e9e9;font-family: 'Yeseva One', cursive;}
'.foo-cont { 
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    padding: 0px 0 15px;
}
.foot-container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    width: 960px;	
}
.post-foot {     background-color: #f4f4f4;
    padding: 20px;}


.highlight {
 background-color:none;
    padding: 7px 7px 7px 10px;
    border: 1px solid #ddd;
    -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow:none;
    margin: 20px 0 20px 0;
    overflow: none;
}

code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlight .c {
  color: #586E75;
}

/* Comment */
.highlight .err {
  color: #93A1A1;
}

/* Error */
.highlight .g {
  color: #93A1A1;
}

/* Generic */
.highlight .k {
  color: #859900;
}

/* Keyword */
.highlight .l {
  color: #93A1A1;
}

/* Literal */
.highlight .n {
  color: #93A1A1;
}

/* Name */
.highlight .o {
  color: #859900;
}

/* Operator */
.highlight .x {
  color: #CB4B16;
}

/* Other */
.highlight .p {
  color: #93A1A1;
}

/* Punctuation */
.highlight .cm {
  color: #586E75;
}

/* Comment.Multiline */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #586E75;
}

/* Comment.Single */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
.highlight .gd {
  color: #2AA198;
}

/* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #DC322F;
}

/* Generic.Error */
.highlight .gh {
  color: #CB4B16;
}

/* Generic.Heading */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
.highlight .go {
  color: #93A1A1;
}

/* Generic.Output */
.highlight .gp {
  color: #93A1A1;
}

/* Generic.Prompt */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
  color: #CB4B16;
}

/* Generic.Subheading */
.highlight .gt {
  color: #93A1A1;
}

/* Generic.Traceback */
.highlight .kc {
  color: #CB4B16;
}

/* Keyword.Constant */
.highlight .kd {
  color: #268BD2;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #268BD2;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #DC322F;
}

/* Keyword.Type */
.highlight .ld {
  color: #93A1A1;
}

/* Literal.Date */
.highlight .m {
  color: #2AA198;
}

/* Literal.Number */
.highlight .s {
  color: #2AA198;
}

/* Literal.String */
.highlight .na {
  color: #93A1A1;
}

/* Name.Attribute */
.highlight .nb {
  color: #B58900;
}

/* Name.Builtin */
.highlight .nc {
  color: #268BD2;
}

/* Name.Class */
.highlight .no {
  color: #CB4B16;
}

/* Name.Constant */
.highlight .nd {
  color: #268BD2;
}

/* Name.Decorator */
.highlight .ni {
  color: #CB4B16;
}

/* Name.Entity */
.highlight .ne {
  color: #CB4B16;
}

/* Name.Exception */
.highlight .nf {
  color: #268BD2;
}

/* Name.Function */
.highlight .nl {
  color: #93A1A1;
}

/* Name.Label */
.highlight .nn {
  color: #93A1A1;
}

/* Name.Namespace */
.highlight .nx {
  color: #555;
}

/* Name.Other */
.highlight .py {
  color: #93A1A1;
}

/* Name.Property */
.highlight .nt {
  color: #268BD2;
}

/* Name.Tag */
.highlight .nv {
  color: #268BD2;
}

/* Name.Variable */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
.highlight .w {
  color: #93A1A1;
}

/* Text.Whitespace */
.highlight .mf {
  color: #2AA198;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #2AA198;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #2AA198;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #2AA198;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #586E75;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #2AA198;
}

/* Literal.String.Char */
.highlight .sd {
  color: #93A1A1;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #2AA198;
}

/* Literal.String.Double */
.highlight .se {
  color: #CB4B16;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #93A1A1;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #2AA198;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #2AA198;
}

/* Literal.String.Other */
.highlight .sr {
  color: #DC322F;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #2AA198;
}

/* Literal.String.Single */
.highlight .ss {
  color: #2AA198;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #268BD2;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268BD2;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #268BD2;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #268BD2;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #2AA198;
}

/* Literal.Number.Integer.Long */
.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}




body {
font: 19px/1.60 Roboto, Roboto, sans-serif;
background:#fafafa;
color: #000;
font-family: 'Noto Serif', serif;
font-size:19px;
}


.site-name {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    transform: scaleY(1.8);
    line-height: 56px;
	word-break: break-all;
	font-weight: 700;
}

.site-description {
    margin: 20px 0px 0 0;
    color: #666;
    font-size: 16px;
}
.curse {
border-bottom: 1px solid #ddd;
}
.nav-container {
	    margin: 0 auto;
    max-width: 925px;
    padding: 0 10px;
    width: 100%;
	
}
.container {
margin: 0 auto;
    max-width: 602px;
    width: 100%;
    width: 602px;

}
.wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #e9e9e9;
}

.masthead {
    padding: 20px 0;
}

.post {
    background: #fdfdfd;
    padding: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border: 1px solid #cdcdcd;
    border-radius: 10px;
	    margin: 20px 0px;
}	
.entry > p > em {
    color: #545454;
	font-size: 21px;
	line-height: 1;
}	
#main .entry > p > strong > em {
    border-left: 2px solid #146cab;
    margin: 15px auto;
    padding: 0 15px;
    position: relative;
    font-style: italic;
	display: block;
	 font-weight: 400;
}

@media all and (min-width:300px) and (max-width:1279px){
.container {

    width: auto;
	padding:0;
}

}
@media all and (min-width:320px) and (max-width:610px){

.site-name {

    font-size: 96%;
}
.wrapper-masthead {
    margin:0;
}

}