<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} {% endif %}</title>

 {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<link rel="shortcut icon" type="image/png" href="/images/favicon-16x16.png">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" media="all" />


<link rel="stylesheet" href="/css/global.base.css">
<link rel="stylesheet" href="/css/global.styles.css">
<link rel="stylesheet" href="/css/at.layout.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/my.css" />
<meta name="yandex-verification" content="147fed72c749e985" />
  </head>

  <body>

    <div class="wrapper-masthead">
<div class="curse">
<iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=light&pref_coin_id=1505&invert_hover=yes" width="100%" height="36" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe>
</div>

      <div class="nav-container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav class="mobile-menu">
            <a href="{{ site.baseurl }}/"></a>
            <a href="{{ site.baseurl }}/news">Новости</a>
            <a href="{{ site.baseurl }}/mining">Майнинг</a>
            <a href="{{ site.baseurl }}/programmy">Программы</a>
            <a href="{{ site.baseurl }}/novye-kriptovalyuty">Новые Криптовалюты</a>
            <a href="{{ site.baseurl }}/hajpy">Хайпы</a>
            <a href="{{ site.baseurl }}/novichku">Новичку</a>
			<a href="{{ site.baseurl }}/zarabotat">Заработать</a>	
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
        <footer class="footer">	
	<div class="pre-foot foo-cont">

	КРИПТО-БЛОГ

	</div>	

<div class="post-foot ">	
<div class="foo-cont">	  


	<span>Все права принадлежат авторам. Копирование без указания источника запрещено. <br>(ГК РФ Статья 1259. Объекты авторских прав) © 2019
	</span>
	
        </footer>

</div>
</div>
      <div class="foot-container">
    </div>
    </div>
	{% include metrica.html %}
    {% include analytics.html %}

<script src="/js/jquery-3.4.1.min.js"></script>
{% include lightbox.html %}
  </body>
</html>
